{% load static %} 


<nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top">
  <div class="container">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      
      <ul class="navbar-nav">

        <li
          {% if '/' == request.path %}
            class="nav-item mr-3 active"
          {% else %}
            class="nav-item mr-3"
          {% endif %}
        >
          <a class="nav-link" href="{% url 'index' %}">
            Travel Assistant
            <br>
            (Real time application)
          </a>
        </li>

          {% if user.is_authenticated %}

          <li
            {% if 'todo' in request.path %}
            class="nav-item mr-3 active"
            {% else %}
              class="nav-item mr-3"
            {% endif %}          
          >
          <a class="nav-link" href="{% url 'todo' %}">
            Tasks
          </a>
          </li>


          <li
            {% if 'albums' in request.path %}
            class="nav-item mr-3 active"
            {% else %}
              class="nav-item mr-3"
            {% endif %}          
          >
          <a class="nav-link" href="{% url 'albums' %}">
            Albums
          </a>
          </li>

        {% endif %}
  
    </ul>

    <ul class="navbar-nav ml-auto">
        
        {% if user.is_authenticated %}

          <li class="nav-item mr-3">
              <img src="{% static 'img/user.png' %}" alt="John Doe" class="rounded-circle" style="width:50px;">
          </li>
            &nbsp;&nbsp;

          <li
            {% if 'dashboard' in request.path %}
            class="nav-item mr-3 active"
            {% else %}
              class="nav-item mr-3"
            {% endif %}          
          >
            <a class="nav-link" href="{% url 'dashboard' %}">
              Welcome, {{ user.username }} (Dashboard)</a>
          </li>

          <li class="nav-item mr-3">
            <a href="javascript:{document.getElementById('logout').submit()}" 
            class="nav-link">
                <i class="fa fa-sign-out"></i> Logout</a>
                <form id="logout" action="{% url 'logout' %}" method="POST">
                  {% csrf_token %}
                  <input type="hidden">
                </form>
          </li>        
          
          
        {% else %}
          
          <li
            {% if 'register' in request.path %}
            class="nav-item mr-3 active"
            {% else %}
              class="nav-item mr-3"
            {% endif %}          
          >
            <a class="nav-link" href="{% url 'register' %}">
              <i class="fas fa-user-plus"></i> Register</a>
          </li>

          <li
            {% if 'login' in request.path %}
            class="nav-item mr-3 active"
            {% else %}
              class="nav-item mr-3"
            {% endif %}          
          >
            <a class="nav-link" href="{% url 'login' %}">
              <i class="fas fa-sign-in-alt"></i>Login</a>
          </li>

        {% endif %}

      </ul>

    </div>
  </div>
</nav>
