{% extends 'base.html' %}

{% block content %}

<section class="mx-auto m-5">

    <div class="container">
        <form action="{% url 'addtask' %}" method="GET">
            {% csrf_token %}
                <div class="input-container">
                  <i class="fa fa-tasks icon"></i>
                    {% if user.is_authenticated %}
                  <input type="hidden" name="user_id" value="{{ user.id }}">
                    {% endif %}
                  <input class="input-field" type="text" placeholder=" Add Task" name="task">
                    <span>
                            <button type="submit" class="btn">Add Task</button>
                    </span>
                </div>                
        </form>
    </div>
    
    <div class="container ">
        <form action="{% url 'deletetask' %}" method="GET">
            {% csrf_token %}
            
            {% if tasks %}
                {% for task in tasks %}
                    <ul class="list-group">
                        <li class="col-8 list-group-item d-flex justify-content-between align-items-center">
                            {{ task.description }}
                            <input type="hidden" name="task_id" value="{{ task.id }}">
                            <span>
                                <button type="submit" class="btn btn-warning">Delete</button>
                            </span>
                        </li>
                    </ul>
                {% endfor %}
            {% else %}
                <p>No Task Present</p>
            {% endif %}

        </form>
    </div>    
      
</section>

{% endblock %}




