{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="container mx-auto m-5">
{% if album %}

        <h3 style="text-align:center; margin-bottom:15px">Gallery : {{ album.title }}</h2>

        {% if photos %}
        
        {% for photo in photos %}


            <div class="responsive">
                <div class="gallery">
                  <a target="_blank" href="{{ photo.photo.url }}">
                    <img src="{{ photo.photo.url }}" alt="Cinque Terre" width="150" height="200">
                  </a>
                  <div class="desc">
                    {% if photo.name %}
                        {{ photo.name }}
                    {% else %}  
                        Photo in {{ photo.album }}
                    {% endif %}
                  </div>
                </div>
              </div>
              
              

        {% endfor %}

        {% else %}
            <h3 style="text-align:center; margin-bottom:15px">No Photos in the Album</h2>
        {% endif %}

{% else %}
<h3 style="text-align:center; margin-bottom:15px">No Album</h2>
{% endif %}

</div>

{% endblock %}